<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <h1 class="title">Om sidan</h1>
                <h2 class="subtitle">Kursen och teknologin</h2>

                <div class="content">
                    <p>
                        Den här sidan är en del av kursen "ramverk2" vid Blekinge Tekniska högskola.
                        Kursen lär ut Javascript och ramverk och läses under andra året av programmet Webbprogrammering. 
                    </p>
                    
                    <p>
                        Den här sidan är byggd med Javascript och har en express.js server som backend.
                        Som templatemotor använder sig sidan av Handlebars.
                        För frontend använder sig sidan av CSS-ramverket Bulma.
                        Vissa sidor (redovisningarna) är skrivna i markdown i egna filer som läses in och parsas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
