<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <h1 class="title">Min app</h1>
                <h2 class="subtitle">En fortgående del av kursen</h2>

                <div class="content">
                    <p>
                        Som en del av kursen ska vi utveckla och skapa en app med realtidsfunktionalitet.
                    </p>

                    <p>
                        Min app-idé än så länge är att skapa en app/sida för fågelskådare där de kan rapportera in
                        siktade fåglar. Den här delen ska uppdateras automatiskt när en ny siktrapport skapas.
                    </p>

                    <p>
                        Utöver detta ska det på sidan finnas en chattfunktion där man kan chatta sinsemellan.
                    </p>

                    <p>
                        Teknikmässigt kommer sidan använda sig av ett API som körs av express och sedan någon from av klient. Här har jag ännu inte bestämt mig
                        hur jag ska skriva den. Det vore roligt att testa på något JavaScript-ramverk som eventuellt REACT eller VUE för detta.
                    </p>

                    <a href="https://github.com/almrooth/ramverk2-app">Appen på GitHub</a>
                </div>
            </div>
        </div>
    </div>
</section>
