<section class="section">
    <div class="container">
        <h1 class="title">Tobias Almroth's sida</h1>
        <h2 class="subtitle">Kursen "ramverk2" vid Blekinge Tekniska Högskola</h2>

        <div class="columns">
            <div class="column">
                <p>
                    
                </p>
            </div>

            <div class="column">
                
            </div>
        </div>
    </div>
</section>