<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <h1 class="title">mongo-crud-simple</h1>
                <h2 class="subtitle">Modul för att hantera CRUD mot en MongoDB databas</h2>

                <div class="content">
                    <p>Min modul (mongo-crud-simple) är en modul som öhjälper en användare att ansluta och genomföra enkel CRUD
                        mot en MongoDB databas.
                    </p>

                    <p>
                        Modulen använder asynkrona tekniker i node (async/await) för att hantera de promises som drivrutinen för MongoDB returnerar.
                    </p>

                    <p>
                        Modulen är enhetstestad med hjälp av Jest och har ett CI-flöde bestående av CircleCI och Scrutinizer och jag har lyckats uppnå 91% kodtäckning.
                    </p>

                    <p>
                        Vidare är modulen integrerad i den här me-sidan och används i <a href="/books">Biblioteket.</a>
                    </p>

                    <a href="https://github.com/almrooth/mongo-crud-simple">Modulen på GitHub</a>
                </div>
            </div>
        </div>
    </div>
</section>
