.navbar-burger {
    border: none;
}

.footer a {
    color: #4a4a4a;
}

.footer a:hover {
    color: blue;
}

.index-me {
    height: 200px;
    width: 200px;
}

.index-me img {
    border-radius: 50%;
}
